html {
  font-family: sans-serif;
}


.style{
  width: 200px ;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto; 
  text-align: center; 
  font-size: 18px;
  color: white ;
    text-shadow: 1px 1px 1px black;
    border-radius: 10px;
    border: 1px solid red;
    background-color: red;
}